/data/training/**
/data/preprocessed_data/**
!/data/training/**/
!/data/training/**/.gitkeep
!/data/preprocessed_data/.gitkeep
/VAE/data/**
!/VAE/data/**/.gitkeep

files/logs/*.npy
files/videos/*.mp4
results/
tmp/

polkadot.egg-info/

swarm/cache/

__pycache__/
gym_pybullet_drones/__pycache__/
swarm/__pycache__/
VAE/__pycache__/
VAE/.vscode/
.vscode/

swarm/gym_pybullet_drones/**